## • Iterables 

We can iterate over or looped through some data types in Python. These data types are **strings**, **lists**, **range**, **tuple**, **sets**.

Let's see some examples

---

### ° Strings

Although strings are simple data type but we can loop through each individual characters.

In [1]:
for char in '12345':
    print(char)

1
2
3
4
5

---
### ° Lists

We can looped through each item in a list.

In [2]:
for item in [1, 3.14, 'izlearn & izshop']:
    print(item)

1
3.14
izlearn & izshop

### ° Tuples

We can loop through each item in a tuple.

In [3]:
for item in (0, 100, 1000):
    print(item)

0
100
1000

### ° Range

We can loop through each item in a range object.

In [4]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

### ° Dictionary

We can loop through each item in a dictionary.

In [5]:
for key, value in {'Black Cap':10, 'Grey Dress':35}.items():
    print(key, value)

Black Cap 10
Grey Dress 35

### ° Sets

We can loop through each item in a set.

In [6]:
for item in {0, 10, 100}:
    print(item)

0
10
100

### ° Float!

But we <span style='color:darkred;font-weight:bold;'>can't</span> loop through integers, floats.

In [7]:
# But we can't loop through int, float!
for number in 3:
    print(number)

TypeError: 'int' object is not iterable

## • Mutables 

Mutable data types are those we're able to change after their creation. Immutable data types are those we can't change them.

Let's see some examples

---

In [8]:
my_list = [1, 2, 3]

my_list

[1, 2, 3]

In [9]:
# Adding an item to a list

my_list.append(-1)

my_list

[1, 2, 3, -1]

In [10]:
# Removing an item from a list

my_list.pop()

my_list

[1, 2, 3]

In [11]:
my_list[0] = 100

my_list

[100, 2, 3]

## • Immutables 

Immutable data types can not be modified after creation. To change them you need to delete and recreate them again. 

Let's see some examples

---

In [12]:
# Integers are immutable

a = 5   # Change it to 5

a

5

In [13]:
# Strings are immutable

my_string = 'izshop' # Change 'i' to 'I'
my_string[0] = 'I'

TypeError: 'str' object does not support item assignment

In [14]:
# Tuples are immutable 
my_tuple = (1, 2, 3)

my_tuple

(1, 2, 3)

In [15]:
my_tuple[0] = 100

my_tuple

TypeError: 'tuple' object does not support item assignment

In [16]:
# To change immutables --> You need to recreate them!
my_tuple = (100, 2, 3)

my_tuple

(100, 2, 3)