#### ‚Ä¢ Table of the content

1. [Type Function](#1)
2. [Type Conversion](#2)
3. [More Info (Follow Me on LinkedIn)](#end)
---

<a name="1"></a>
## ‚úîÔ∏è Type Function

To show the **data type** of an object in Python, we can use the **type()** function. For the sake of an example, if a variable has the number **3.14** in itself, using **type(3.14)** or **type(variable_name)** we can understand its type is <span style='color:green;font-family:consolas;font-weight:bold'>float</span>.

- To read more about type function, check [this resource](https://www.w3schools.com/python/ref_func_type.asp)

- We will talk about **variable** in the very next section of the course. üôÇ

In [1]:
# 1. Use type function for --> 5

type(5)

int

In [2]:
# 2. Use type function for --> 3.14

type(3.14)

float

In [3]:
# 3. Use type function for --> 'izshop'

type('izshop')

str

In [5]:
# 4. Use type function for --> '3.14'

type('3.14')

str

In [6]:
# 5. Use type function for --> [5, 3.14, 'izshop']

type([5, 3.14, 'izshop'])

list

In [8]:
# 6. Using a varialbe: --> Next section we'll cover "variables" topic.

my_data = 5
my_data_type = type(5)

In [9]:
# 6.1 Use print to show --> my_data, my_data_type

print(my_data, my_data_type)

5 <class 'int'>

<div class="alert alert-success">
    
üîî It's generally very obvious what the data types are going to be in the above examples. Because we know what we're typing, but <u>as we start building more complicated code</u>, we might generate data types that <b>we're not sure what data types they include</b>. 
    
</div>

---
<a name="2"></a>
## ‚úîÔ∏è Type Conversion

As the name suggests, to convert from one data type to another, we can use some built-in functions in Python. For example, to convert a floating point number to an integer, It's possible to use the <span style='color:green;font-family:consolas;font-weight:bold'>int</span>() function. 

These functions are listed below.

1. int()
2. float()
3. str()
4. bool()
5. list()
6. dict()
7. tuple()
8. set()

The general rule for these conversions are: **`name of data type(object)`**

In [10]:
# 7. Convert integer 5 --> float

float(5)

5.0

In [11]:
# 8. Convert float 3.14 --> integer

int(3.14)

3

In [12]:
# 9. Convert string '25' --> integer

int('25')

25

In [13]:
# 10. Convert string 'izshop' --> integer

int('izshop')

ValueError: invalid literal for int() with base 10: 'izshop'

In [14]:
# 11. Convert [1, 2, 3] --> integer

int([1, 2, 3])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [15]:
# 12. Convert [1, 2, 3] --> tuple 

tuple([1, 2, 3])

(1, 2, 3)

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)