#### • Table of the content

1. [Numeric Data Types](#1)
2. [Numeric Type Conversion](#2)
3. [Arithmetic Operations](#3)
4. [Operators & Operands](#4)
5. [Order of Operations](#5)
6. [More Info (Follow Me on LinkedIn)](#end)
---

<a name="1"></a>
## Numeric Data Types

🔸 There are **three** types of numeric data types in Python
1. Intergers → `int ` → Whole numbers **without** decimal points i.e. (26, 11, 2023, -7)
2. Floating-Point Numbers → `float` → Real numbers **with** decimal points i.e. (3.14, 0.0, 1.6, -7.0)
3. Complex → `complex` → Numbers with **real** & **imaginary** part i.e. (3 + 2j, -5j)

In [1]:
# 1. Let's define our data in this cell
my_str = "2023"
my_float = 3.1415
my_int1 = 7
my_int2 = 3

# 1.1 Show the type of all these variables
type(my_str), type(my_float), type(my_int1), type(my_int2)

(str, float, int, int)

<a name="2"></a>
### Numeric Type Conversion

🔸 Using `<data-type>(object)` in Python, you're able to convert different numeric data types together. 
1. int(obj)
2. float(obj)
3. complex(obj)

In [2]:
# 2. Convert str → integer
# 2.1 "2023" → 2023
str_to_int = int(my_str)

str_to_int, type(str_to_int)

(2023, int)

In [3]:
# 3. Convert float → integer
# 3.1 3.1415 → 3
float_to_int = int(my_float)

float_to_int, type(float_to_int)

(3, int)

In [4]:
# 4. Convert str → float
# "2023" → 2023.0
str_to_float = float(my_str)

str_to_float, type(str_to_float)

(2023.0, float)

In [5]:
# 5. Convert int → Complex
# 7 → 7 + 0j
int_to_complex = complex(my_int1)

int_to_complex, type(int_to_complex)

((7+0j), complex)

<div class="alert alert-danger">
    🔸 <b>Note</b><br>
    If your string contains <b>non-numeric</b> characters, and you try to convert it to an <u>integer</u> or <u>float</u> data       type you'll get an <b>ValueError</b>
</div>

In [6]:
new_str = "year2023"

# 6. Convert "new_str" to integer
int(new_str)

ValueError: invalid literal for int() with base 10: 'year2023'

<a name="3"></a>
### Arithmetic Operations

🔸 Arithmetic operators are **special symbols** in Python, using them you can do mathmatical operations in your code

1. Addition  → <span style="color:#4776E6;font-weight:bold;">+</span>
2. Subtraction  → <span style="color:#4776E6;font-weight:bold;">-</span>
3. Multiplication  → <span style="color:#4776E6;font-weight:bold;">*</span>
4. Division  → <span style="color:#4776E6;font-weight:bold;">/</span>
5. Flooar Division  → <span style="color:#4776E6;font-weight:bold;">//</span>
6. Modulo  → <span style="color:#4776E6;font-weight:bold;">%</span>
7. Exponentiation  → <span style="color:#4776E6;font-weight:bold;">**</span>

In [7]:
# 7. Add "my_float" to "my_int1" (Addition)
# 7 + 3.1415 = 10.1415
my_float + my_int1

10.1415

In [8]:
# 8. Subtract "my_float" from "my_int2" (Subtraction)
# 3.1415 - 3 = 0.1415
my_float - my_int2

0.14150000000000018

In [9]:
# 9. Multiply "my_float" by "my_int1" (Multiplication)
# 3.1415 * 7 = 21.9905
my_float * my_int1

21.9905

In [10]:
# 10. Divide "my_int1" by "my_float" (Division)
# 7 / 3.1415 = 2.2282349196
my_int1 / my_float

2.228234919624383

In [12]:
# 11. Divide "my_int1" by "my_float" and round down to the nearest integer (Floor Division)
# 7 // 3.1415 = 2.0
my_int1 // my_float

2.0

In [13]:
# 12. Show the remainder of division of "my_int1" by "my_int2" (Modulo)
# 7 % 3 = 1
my_int1 % my_int2

1

In [14]:
# 13. Raise "my_int1" to the power of "my_int2" (Exponentiation)
# 7 ** 3 = 343
my_int1 ** my_int2

343

<a name="5"></a>
### Order of Operations

🔸 Python uses the standard [PEMDAS](https://www.mathsisfun.com/operation-order-pemdas.html) order of operations to perform calculations. **PEMDAS** Stands for: 
1. Parentheses → (  )
2. Exponentiation → **
3. Multiplication & Division → * /
4. Addition & Subtraction → + -

In [15]:
# 14. PEMDAS standard → Without parentheses
2*6 + 3 - 2**4 / 2

7.0

In [16]:
# 15. PEMDAS standard → With parentheses
2*(6 + (3 - 2)**(4 / 2))

14.0

---
<a name="end"></a>
### Congrats! 

🔥 Let's go to the next session.

📝 This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

🌐 Visit your website for more courses [izlearn.ir](https://izlearn.ir)