#### • Table of the content

1. [round( ) function](#1)
2. [abs( ) function](#2)
3. [sum( ) function](#3)
4. [max( ) function](#4)
5. [min( ) function](#5)
6. [The Power of These Functions](#6)
6. [More Info (Follow Me on LinkedIn)](#end)
---

## • Numeric Functions

🔸 In this jupyter file, we want to learn how **round( )**, **abs( )**, **sum( )**, **min( )** and **max( )** work in Python. These numeric functions are called built-in functions because we didn't write their code.

In [2]:
# Setting up variables
pi_num = 3.141592


# Ahmad, # Christiano # Lionel
heights = [174, 189, 170]
weights = (74, 85, 72)
ages = {28, 38, 35}

<a name="1"></a>
### 1. round(  )

🔸 The **round( )** function rounds a number to a specified number of digits

In [6]:
# 1.1. Round the "3.141592" or "pi_num" to 2 decimal places

round(pi_num, 2)

3.14

In [7]:
# 1.2. Round the "3.141592" or "pi_num" to the nearest integer (use round)

round(pi_num)

3

In [ ]:
# 1.3. Round the "9.51" and "9.50" and "9.49" (use round)

In [8]:
# 1.3.1. "9.51" → round() function

round(9.51)

10

In [9]:
# 1.3.2 "9.5" → round() function

round(9.5)

10

In [10]:
# 1.3.3 "9.49" → round() function

round(9.49)

9

🔸 Use <b style="color:purple;">?</b> mark after the round function to learn more about it! (Do you remember this feature?)

In [11]:
# 1.4. Use "?" to see the "round" documentation in jupyter

round?

<a name="2"></a>
### 2. abs(  )

🔸 The **abs( )** function returns the absolute value of a specified number

In [14]:
# 2.1. Return the positive value of "-7" using "abs" function

abs(-7)

7

<a name="3"></a>
### 3. sum( )

🔸 The **sum( )** function adds up all elements in an iterable

In [15]:
# 3.1. Sum all the items in the "heights" 
# 3.2. heights → [174, 189, 170]

sum(heights)

533

In [16]:
# 3.4. Sum all the items in the "weights"
# 3.5. weights → (74, 85, 72)

sum(weights)

231

<a name="4"></a>
### 4. max( )

🔸 The **max( )** function returns the largest value in an iterable

In [17]:
# 4.1. Return the largest value in the "heights" 
# 4.2. heights → [174, 189, 170]

max(heights)

189

In [18]:
# 4.3. Return the largest value in the "ages"
# 4.4. ages → {28, 38, 35}

max(ages)

38

<a name="5"></a>
### 5. min( )

🔸 The **min( )** function returns the smallest value in an iterable

In [19]:
# 5.1. Return the smallest value in the "weights"
# 5.2. weights → (74, 85, 72)

min(weights)

72

<div class="alert alert-danger">

🤔 What would happend if you pass a <u>single value</u> into the functions like <b>sum( )</b>, <b>min( )</b>, <b>max( )</b> ? 
give it a shot! and share your result in the group/comment. 
 
</div>

```python
print(max(5))

```
Run the cell above in your jupyter environment and share the result!

<a name="6"></a>
### 6. The Power of These Functions

🔸 The true power of using these functions emerges when you're using **really large dataset**. Suppose that I have a large list; including the price of izshop products. Then I feel the need to quickly find the `sum of whole prices` and `minimum` and `maximum` of all items. Using these built-in functions we can quickly achieve that.

In [21]:
# 6.1. Run the cell to create the "price_lst"
price_lst = [
    39, 52, 12, 35, 18,
    18, 18, 25, 18, 8, 
    8, 8, 35, 20, 28,
    37, 14, 5, 10, 25,
    3, 12, 7, 56, 11,
    21, 9, 12, 6, 23,
    11, 10, 3, 5, 10,
    20, 15, 10, 12, 7,
    44, 32, 11, 5, 9,
    15, 22, 18, 6, 14
]

In [ ]:
# 6.2. Calculate the total, the largest and the smallest price in the list

In [22]:
# 6.2.1 The total price? 

sum(price_lst)

872

In [23]:
# 6.2.2 The largest price?

max(price_lst)

56

In [24]:
# 6.2.3 The smallest price?

min(price_lst)

3

---
<a name="end"></a>
### Congrats! 

🔥 Let's go to the next session.

📝 This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

🌐 Visit your website for more courses [izlearn.ir](https://izlearn.ir)