## ‚Ä¢ Salar's Questions For FAQ

**Hi there!**

Can you quickly calculate the following numbers for me? I want to use these numbers in the **FAQ** (Frequenctly Asked Questions) section of the website.

* Which price is the **highest** one?
* Which price is the **lowest** one?
* Can you calculate the **average for prices** in the list?`(rounded to the nearest euro)`

Thank You

In [1]:
# The "price_list" variable containing prices of items

prices_list = [
    
    39, 8.5, 8, 24.99, 10, 12, 35, 9, 33.5, 44, 53.99, 11,
    21, 11.9, 21, 28.9, 19.9, 22, 7, 14, 20, 12, 11, 9, 10
]

prices_list

[39,
 8.5,
 8,
 24.99,
 10,
 12,
 35,
 9,
 33.5,
 44,
 53.99,
 11,
 21,
 11.9,
 21,
 28.9,
 19.9,
 22,
 7,
 14,
 20,
 12,
 11,
 9,
 10]

### üî∏ The Highest & The Lowest Price In The List

#### `1. SOLUTION ONE` 
We can calculate the **highest** and the **lowest** in one-line code!

In [2]:
# 1. Single-line solution: 

print(max(prices_list), min(prices_list))

53.99 7

### üî∏ The Highest & The Lowest Price In the List

#### `2. SOLUTION TWO `

We can use **variable assginement** to create separate varibles and use them inside of the *print( )* function.

In [3]:
# 2. Variable assignment solution
highest_price = max(prices_list)
lowest_price = min(prices_list)

print(highest_price, lowest_price)

53.99 7

### üî∏ The Average of All Prices in The List?

üìù The formula is ‚Üí $ mean = \frac {total}{number}\ $

üìù `Round it to the nearest euro!`

#### `SOLUTION ONE`

We can calculate the **average** of all prices in one-line code!

In [5]:
# 3. Single-line solution
prices_num = 25   # number of prices in the list

print(round(sum(prices_list)/prices_num))

20

#### `SOLUTION TWO`

We can use **variable assginement** to create separate varibles and use them inside of the *print( )* function.

In [7]:
# 4. Variable assignment solution

prices_num = 25   # number of prices in the list
all_prices = sum(prices_list)
prices_avg = all_prices / prices_num
rounded_avg = round(prices_avg)

print(rounded_avg)

20

---
<a name="end"></a>
### Congrats! 

üî• Let's go to the next session.

üìù This Jupyter notebook has been created by [Ahmad Ahmadi](https://www.linkedin.com/in/ahmad-ahmadi95/). Please follow me and [izlearn](https://www.linkedin.com/company/izlearn) on LinkedIn social media.  

üåê Visit your website for more courses [izlearn.ir](https://izlearn.ir)